ACTION!="add|change", GOTO="libinput_device_group_end"
KERNEL!="event[0-9]*", GOTO="libinput_device_group_end"

ATTRS{phys}=="?*", IMPORT{program}+="/home/xuser/libinput/builddir/libinput-device-group %S%p"

LABEL="libinput_device_group_end"
